html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  background: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.leaflet-container {
  width: 800px;
}
